.Rproj.user
.Rhistory
.RData
.Ruserdata
stateYear7/code/.Rproj.user/4F655161/pcs/files-pane.pper
stateYear7/code/.Rproj.user/4F655161/pcs/files-pane.pper
stateYear7/code/.Rproj.user/4F655161/pcs/source-pane.pper
stateYear7/code/.Rproj.user/4F655161/pcs/windowlayoutstate.pper
stateYear7/code/.Rproj.user/4F655161/pcs/workbench-pane.pper
stateYear7/code/.Rproj.user/4F655161/sources/prop/INDEX
stateYear7/code/.Rproj.user/shared/notebooks/paths
stateYear7/code/.RData
stateYear7/code/.Rhistory
